body {
    font-family: roboto,Arial, Helvetica, sans-serif;

}
.doclplaner-header {
    display: flex;
    justify-content: space-around;
}
.doclplaner-header img {
    width: 230px;
    height: 80;
}


.list {
    display: flex;
    list-style-type: none;
}

.header-menu ul li {
    margin-left: 20px;
}


a {
    text-decoration: none;
    color:#ababab ;
} 

.activ {
    color: #00b39b;
}

.header-menu ul a:hover {
    color: #00b39b;
}
/* section 1 ***********************************/

#logoo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lead-logo h1 {
    display: flex;
    justify-content: center;
    color: #00b39b;
    margin-top:1cm;
}

.sec1p p {
    margin: 60px 0;
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
    color: #ababab;
}

.sec1p {
    display: flex;
    margin-left: 200px;
    justify-content: center;
    width: 70%;
}

.section2 {
    display: flex;
    justify-content: space-around;
    height: 350px;
    width: 65%;
    margin:  70px 240px 20px 240px;
    
}

.patients {
    color: #fff;
    background-color: #00b39b;
    border-radius: 10px;
    padding: 2em 2em 0;
    font-family: Work Sans,Arial,sans-serif;
    
}

.doctors {
    color: #fff;
    background-color: #3d83df;
    border-radius: 10px;
    padding: 2em 2em 0;
    margin-left: 2%;
    margin-right: 2%;

}

.clinics {
    color: #fff;
    background-color: #1b2734;
    border-radius: 10px;
    padding: 2em 2em 0;

}

/*------section3----------------*/

.section3 {
    display: flex;
    justify-content: space-around;
    margin-top: 3cm;
    margin-bottom: 1cm;
    margin-left: 5cm;
    margin-right: 5cm;
    
}

.section3 h2 {
    color: #00b39b;
    float: left;
    width: 33%;
    font-size: 18px;
    margin-right: 1cm;
    padding-right: 1em;
}

.section3 .grid-medium {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: auto;
}


.grid-medium img {
    text-decoration: none;
    color: #ababab;
}

.grid-medium img:hover {
    color: #00b39b;
}








.section4 {
    display: flex;
    justify-content: space-around;
    background-color:#e5faf8;
}

.red h1 {
    color: #00b39b;
    margin-top: 1cm;
    font-size: 2.125rem;
}

.red p {
    color: #747474;
}

.grid-state {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 30px;


}

.grid-state1 {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;

}
.grid-state1 h3 {
    color:#00b39b;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

.grid-state1 p {
    color: #747474;
}

.grid-state2 {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
}

.grid-state2 h3 {
    color:#00b39b;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

.grid-state2 p {
    color: #747474;
}

.grid-state3 {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
}

.grid-state3 h3 {
    color:#00b39b;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

.grid-state3 p {
    color: #747474;
    
}

.grid-state4 {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
}

.grid-state4 h3 {
    color:#00b39b;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

.grid-state4 p {
    color: #747474;
   
}


.section5 {
    margin-top: 3cm;

}

.section5 h1 {
    display: flex;
    justify-content: center;
    color: #00b39b;
    margin-top:1cm;
}
.section5 p {
    display: flex;
    justify-content: center;
    color: #747474;
    margin-top:1cm;
}


.grid-office  {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 290px 290px 290px;
    gap: 60px;
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-office .office1a {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 2%;
}



.grid-office .office1a .bts {
    display: inline-block;
    background-color: #3d83df;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    position: relative;
    padding: 2%;
}














.section7 {
    margin-top: 5cm;
    margin: 0 auto;
    max-width: 520px;
    margin-bottom: 2cm;

}

.section7 h1 {
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 1cm;
}

.btp  {
    display: block;
    background-color: #3d83df;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: relative;
    font-weight: 80;
    line-height: 3em;
    margin: 5em;
}

.main-footer {
    border-top: 1px solid #eef2ee;
    text-align: center;
    padding: 1em 0;
}

.main-footer p {
    color: #ababab;
    font-size: 12px;

}

.main-footer a {
    color: #3d83df;
    font-size: 10px;

}

